
.footer-toolbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
      .icon-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        ion-icon {
          font-size: 30px;
          margin-bottom: 5px;
          margin-top: 5px;

        }
      }
      
      .footer-toolbar .icon-label.active .home-icon,
      .footer-toolbar .icon-label.active .report-icon,
      .footer-toolbar .icon-label.active .community-icon
       {
        color: #ec3d15; /* Change the color to the desired one */
      }
      
      .footer-toolbar .icon-label.active ion-label {
        color: #ec3d15; /* Change the color to the desired one */
      }